# 1. 변수선언

In [3]:
a = 10
b = 20
list1 = [1,2,3]

In [7]:
print(a + b)
print(list1[0], list1[1:3])

30
1 [2, 3]

### 자료구조: 리스트(list)

In [9]:
list1[0] = 10
list1

[10, 2, 3]

In [10]:
list1[1] = [5,6,7]
list1

[10, [5, 6, 7], 3]

In [11]:
list2 = [
          [1,2,3],
          [4,5,6],
          [7,8,9]
         ]

In [13]:
list2[1][1] = 10
list2

[[1, 2, 3], [4, 10, 6], [7, 8, 9]]

In [15]:
list2[2] = 3
list2

[[1, 2, 3], [4, 10, 6], 3]

In [17]:
list2 = [
          [1,2,3],
          [4,5,6],
          [7,8,9]
         ]

In [19]:
list2[2][2] = 0
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 0]]

In [20]:
list2[2] = 0
list2

[[1, 2, 3], [4, 5, 6], 0]

In [21]:
print(list2[2][1])

TypeError: 'int' object is not subscriptable

### 자료구조: 튜플(tuple)

In [24]:
list2 = (
          [1,2,3],
          [4,5,6],
          [7,8,9]
        )

In [23]:
type(list2)

tuple

In [26]:
list2[1][1] = 3                ## 튜플 안에 리스트가 있는경우, 리스트 자체는 수정 가능함.
list2

([1, 2, 3], [4, 3, 6], [7, 8, 9])

In [27]:
list2[1] = 3

TypeError: 'tuple' object does not support item assignment

### 자료구조: 딕셔너리(Dictionary)

In [28]:
list2 = {'a':1, 'b':2, 'c':3}

In [29]:
type(list2)

dict

In [ ]:
#선언문 반복문 조건문 <<<< 알면 프로그램 가능하다

<hR>

# 2. 반복문

In [37]:
for i in range(1,10, 1):
    print("블럭 내 %d"%i)
print("블럭 바깥 %d"%i)                      #들여쓰기 안되어 있고, 앞의 for문 다 실행된 후 실행됨. 한번만 실행됨

블럭 내 1
블럭 내 2
블럭 내 3
블럭 내 4
블럭 내 5
블럭 내 6
블럭 내 7
블럭 내 8
블럭 내 9
블럭 바깥 9

In [56]:
for fl in range(0,5,4):
    for num in range(1,10,1):
        for dan in range(2,6,1):
            print("%2d X %2d = %2d" %((dan+fl),num,((dan+fl)*num), end = "     ")
        print('\n')
    print('\n')

SyntaxError: invalid syntax (<ipython-input-56-afa4c791c18c>, line 4)

In [58]:
sum = 0

for i in range(1,10,1):
    print("현재 i값 : %d" %i)
    sum += i

print(sum)

현재 i값 : 1
현재 i값 : 2
현재 i값 : 3
현재 i값 : 4
현재 i값 : 5
현재 i값 : 6
현재 i값 : 7
현재 i값 : 8
현재 i값 : 9
45

In [63]:
i_sum = 0
j_sum = 0
for i in range(1,10,1):
    #print("여기는 a 반복문")
    i_sum += 1
    for j in range(11,20,1):
        #print("여기는 b 반복문")
        j_sum += 1
        
print(i_sum, j_sum)

9 81

In [ ]:
for i in range(2)

In [77]:
for num in range(1,10,1):                 
    for dan in range(2,10,1):
        print("%2d x%2d =%2d" %(dan, num, dan*num), end=" ")
    print('\n')

 2 x 1 = 2  3 x 1 = 3  4 x 1 = 4  5 x 1 = 5  6 x 1 = 6  7 x 1 = 7  8 x 1 = 8  9 x 1 = 9

 2 x 2 = 4  3 x 2 = 6  4 x 2 = 8  5 x 2 =10  6 x 2 =12  7 x 2 =14  8 x 2 =16  9 x 2 =18

 2 x 3 = 6  3 x 3 = 9  4 x 3 =12  5 x 3 =15  6 x 3 =18  7 x 3 =21  8 x 3 =24  9 x 3 =27

 2 x 4 = 8  3 x 4 =12  4 x 4 =16  5 x 4 =20  6 x 4 =24  7 x 4 =28  8 x 4 =32  9 x 4 =36

 2 x 5 =10  3 x 5 =15  4 x 5 =20  5 x 5 =25  6 x 5 =30  7 x 5 =35  8 x 5 =40  9 x 5 =45

 2 x 6 =12  3 x 6 =18  4 x 6 =24  5 x 6 =30  6 x 6 =36  7 x 6 =42  8 x 6 =48  9 x 6 =54

 2 x 7 =14  3 x 7 =21  4 x 7 =28  5 x 7 =35  6 x 7 =42  7 x 7 =49  8 x 7 =56  9 x 7 =63

 2 x 8 =16  3 x 8 =24  4 x 8 =32  5 x 8 =40  6 x 8 =48  7 x 8 =56  8 x 8 =64  9 x 8 =72

 2 x 9 =18  3 x 9 =27  4 x 9 =36  5 x 9 =45  6 x 9 =54  7 x 9 =63  8 x 9 =72  9 x 9 =81

In [78]:
for i in range(1,6):
    print("*" *i)                         # for문에서 가장 중요한 것은 <규칙성>

*
**
***
****
*****

In [86]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print("*", end ="") 
    print("\n")

*

**

***

****

*****

In [93]:
for i in range(1,6,1):
    print(' ' * (5-i), end = '')
    for j in range(1, i+i, 1):
        print("*", end ="") 
    print("\n")

    *

   ***

  *****

 *******

*********

In [94]:
for i in range(4,0,-1):
    print("ㅇ" *i)

ㅇㅇㅇㅇ
ㅇㅇㅇ
ㅇㅇ
ㅇ

In [100]:
for i in range(5,0,-1):
    print(' ' * (5-i), end = '')
    for j in range(1, i+i, 1):
        print("*", end ="") 
    print("\n")

*********

 *******

  *****

   ***

    *

In [104]:
for i in range(1,10, 2):
    print(' '*(5-int((i-1)/2))+'*'*i)

     *
    ***
   *****
  *******
 *********

In [108]:
score = [['김현진', 80, 75, 55],['이예지',90,80,80],['김형지',80,70,70]]


for id in range(0,3,1):          #0,1,2
    avg = sum = 0
    for data in range(1,4,1):     #1,2,3
        sum += score[id][data]
    avg = sum/data
    print("%d번의 평균은 %d" %(id,avg))

0번의 평균은 70
1번의 평균은 83
2번의 평균은 73

In [116]:
score = [['김현진', 80, 75, 55],['이예지',90,80,80],['김형지',80,70,70]]


for j in score:
    print(j[0])
    print(j[3])

김현진
55
이예지
80
김형지
70

In [119]:
score = [['김현진', 80, 75, 55],['이예지',90,80,80],['김형지',80,70,70]]

for j in score:
    print(j)
    for i in j:
        print(i)

['김현진', 80, 75, 55]
김현진
80
75
55
['이예지', 90, 80, 80]
이예지
90
80
80
['김형지', 80, 70, 70]
김형지
80
70
70