In [3]:
num1 = 13
num2 = 25
num3 = 77

print(num2, num3)

25 77

In [5]:
num4 = 3.1425
num5 = 1.25
num6 = 3.0

print(num4, num5, num6)

3.1425 1.25 3.0

In [6]:
str1 = "Funny python"
str1

'Funny python'

In [7]:
str2 = 'Easy python'
str2

'Easy python'

In [8]:
number = 10
Number = 20
print("number : ",number)
print("number : ",Number)

number :  10
number :  20

In [9]:
num1_num2 = 10
num1_num2

10

In [10]:
1a = 10

SyntaxError: invalid syntax (<ipython-input-10-1be9f8edb7cd>, line 1)

In [11]:
if = 30

SyntaxError: invalid syntax (<ipython-input-11-71e64d133460>, line 1)

In [12]:
a = 10 
b = 15
print(a)
print(b)

10
15

In [13]:
a, b = 10, 15
print(a)
print(b)

10
15

In [14]:
str1 = "python"
str2 = "python"
print(str1)
print(str2)

python
python

In [16]:
str1 = str2 = "python"
print(str1)
print(str2)

python
python

In [18]:
x = 100
y = 200
sum = x + y
print(sum)

300

In [19]:
s = "she's gone"
s

"she's gone"

In [22]:
s1 = "she\'s gone"
s2 = 'she\'s gone'
print(s1)
print(s2)

she's gone
she's gone

In [23]:
s3 = 'he said that "she is gone"'
s4 = "he said that \"she is gone\""
print(s3)
print(s4)

he said that "she is gone"
he said that "she is gone"

In [24]:
s = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된
문자열을 하나로 대입할 때

In [25]:
s = '''여러줄로 구성된
문자열을 하나로
대입할 때'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [26]:
s = """여러줄로 구성된
문자열을 하나로
대입할 때"""""
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [28]:
s = "My name is MH"
print(s[0])
print(s[8])

M
i

In [29]:
s = "My name is MH"
print(s[-2])
print(s[-1])

M
H

In [30]:
s = "My name is MH"
print(s[0:2])
print(s[3:7])
print(s[8:10])

My
name
is

In [34]:
s = "My name is MH"
print(s[0:7])
print(s[:7])

My name
My name

In [35]:
s = "My name is MH"
print(s[8:13])
print(s[8:])
print(s[-5:])    #-5:0이라고 쓰면 안됨(이미 0은 양수와함께 배치)

is MH
is MH
is MH

In [36]:
s = "My name is MH"
print(s[:])

My name is MH

In [46]:
s = "2020년 3월 3일의 날씨는 맑음입니다."

print("날짜 : ",s[:11])
print("날씨 : ",s[17:19])   #-6:-4

날짜 :  2020년 3월 3일
날씨 :  맑음

In [48]:
day = 7
s = "오늘은 7월 %d일 입니다."%day
s

'오늘은 7월 7일 입니다.'

In [49]:
day = 8
s = "오늘은 7월 %d일 입니다."%day
s

'오늘은 7월 8일 입니다.'

In [52]:
month = 7
day = 7
s = "오늘은 %d월 %d일 입니다."%(month,day)
s

'오늘은 7월 7일 입니다.'

In [53]:
month = 7
day = 7
s = "오늘은 {}월 {}일 입니다.".format(month, day)
s

'오늘은 7월 7일 입니다.'

In [56]:
x = 100
y = 200
sum = x + y
print("{}와 {}의 합은 {}입니다.".format(x,y,sum))
# print("%d와 %의 합은 %입니다."%(x,y,sum))

100와 200의 합은 300입니다.