In [1]:
num1 = 10
num2 = 7

print(num1/num2)
print(num1%num2)
print(num1//num2)

1.4285714285714286
3
1

In [2]:
str1 = "안녕"
str2 = "하세요"

print(str1 + str2)      #print(str1, str2) 둘은 별도 독립적인걸로 되어, 띄어쓰기 생김 = "안녕 하세요" 출력

안녕하세요

In [3]:
str1 = "10"
str2 = "7"

print(str1 + str2)

107

In [4]:
num1 = 10
str2 = "7"

print(num1 + str2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
num1 = 10
str2 = "7"

print(str(num1) +str2)            #형 변환 연산자. 해당 줄에서만 연산자 변환
print(num1 + int(str2))

107
17

In [9]:
num1 = 23
num2 = 3

print("더하기 결과 : {}".format(num1+num2))
print("빼기 결과 : %d"%(num1-num2))             #서식이 중요한 경우 %d 이용. eg., ....%3d...
print("곱하기 결과 :",num1*num2)
print("나누기 결과 :"+str(num1/num2))

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 :7.666666666666667

<hr>

### a = input("messages..") 현재a는 문자. 
### a = int(input("messages..") a는 숫자
#### cf., a = int(a)  <<정수형으로 변환된 a

In [7]:
num1 = input("첫 번째 숫자를 입력하시오. : ")
num2 = input("두 번째 숫자를 입력하시오. : ")

num1 = int(num1)
num2 = int(num2)

print("더하기 결과 :%4d"%(num1+num2))
print("빼기 결과 :%4d"%(num1-num2))
print("곱하기 결과 :%4d"%(num1*num2))
print("나누기 결과 :%2.1f"%(num1/num2)) #나누기는 정수(%d)가아닌 실수로(%f)    #%2.3f정수형은 두자리, 소수형은 소수점으로 세자리만 출력

print("더하기 결과 :%d"%(num1+num2))
print("빼기 결과 :%d"%(num1-num2))
print("곱하기 결과 :%d"%(num1*num2))
print("나누기 결과 :%2.1f"%(num1/num2))

첫 번째 숫자를 입력하시오. : 52
두 번째 숫자를 입력하시오. : 12
더하기 결과 :  64
빼기 결과 :  40
곱하기 결과 : 624
나누기 결과 :4.3
더하기 결과 :64
빼기 결과 :40
곱하기 결과 :624
나누기 결과 :4.3

In [8]:
num = int(input("정수를 입력하세요 >> "))     #float 문자를 실수형으로 입력

정수를 입력하세요 >> 123

In [10]:
pt = int(input("python 점수 입력 >> "))
ml = int(input("머신러닝 점수 입력 >> "))
dl = int(input("딥러닝 점수 입력 >> "))

sum = pt + ml + dl

print("합계 : {}".format(sum))
print("평균 : {}".format(sum/3))

python 점수 입력 >> 100
머신러닝 점수 입력 >> 80
딥러닝 점수 입력 >> 60
합계 : 240
평균 : 80.0

##### 초를 입력 받아 "00시간 00분 00초" 형태로 출력하시오.

In [1]:
time = int(input("시간 입력 >> "))     #여기에 초를 입력받고
hour =  time//3600                     #1hr=60mins=60secs   >>> 초의 값을 입력받았으니, 시간을 구하기위해서는 /3600의 몫의 값 필요. 
minute = (time%3600)//60               #시간에 할당된 값을 제외한 hour의 나머지값의 /60의 몫 필요.
second = (time%3600)%60                #
print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >> 7533
2.0시간 5분 33초

In [4]:
time = int(input("시간 입력(초단위) >> "))
hour = int(time/3600)
minute = int((time%3600)/60)
second = int((time%3600)%60)

print("%2d시간 %2d분 %2d초"%(hour, minute, second))

hour2 = time/(60*60)
minute2 = (time/60) % 60
second2 = ((time%60)%60)%60

print("%2d시간 %2d분 %2d초"%(hour2, minute2, second2))

print("{}시간 {}분 {}초".format(int(hour2), int(minute2), int(second2)))

시간 입력(초단위) >> 7533
 2시간  5분 33초
 2시간  5분 33초
2시간 5분 33초

<hr>

##### 문자열 곱하기

In [17]:
s = "x"
print(s*10)

xxxxxxxxxx

In [18]:
s = "안녕하세요"
print(s*2)

안녕하세요안녕하세요

#### 지수 연산자(**)

In [20]:
num = int(input("정수 입력 >>"))
power = int(input("지수 입력 >>"))
print("{}의 {}승은 {}입니다.".format(num, power, num**power))

정수 입력 >>2
지수 입력 >>3
2의 3승은 8입니다.

#### 대입(복합)연산자

In [21]:
num = 27

num += 3
num

30

In [23]:
num = 27

num = num + 3
num

30

In [25]:
num = 27

num += 3
num += 3
num += 3
num

36

In [26]:
num = 27

num = num + 3
num = num + 3
num = num + 3
num

36

##### 치환

In [30]:
a = 3
b = 7

print("a : {}".format(a))
print("b : {}".format(b))

a : 3
b : 7

In [31]:
temp = a
a = b
b = temp

print("a : {}".format(a))
print("b : {}".format(b))

a : 7
b : 3

In [32]:
a,b = b,a

print("a : {}".format(a))
print("b : {}".format(b))

a : 3
b : 7

#### 비교 연산자

In [33]:
a = 3
b = 7

print(a > b)
print(a <= b)
print(a == b)
print(a != b)

False
True
False
True

In [34]:
a = 3
b = 7
not a < b

False

In [36]:
3 > 5 and 10 == 20   #False
3 > 5 and 10 < 20    #False
3 < 5 and 10 < 20    #True

True

In [37]:
3 > 5 or 10 == 20   #False
3 > 5 or 10 < 20    #Fure
3 < 5 or 10 < 20    #True

True

#### 삼항 연산자

In [39]:
score = 80
"합격" if score >= 60 else "불합격"

'합격'

In [41]:
score = 50
"합격" if score >= 60 else "불합격"

'불합격'

In [11]:
num1 = int(input("정수 입력 >> "))
print("{}는(은) 짝수입니다.".format(num1)) if (num1//2)==0 else print("{}는(은) 홀수입니다.".format(num1))
"{}는(은) 짝수입니다.".format(num1) if (num1//2)==0 else "{}는(은) 홀수입니다.".format(num1)

정수 입력 >> 33
33는(은) 홀수입니다.

'33는(은) 홀수입니다.'

In [4]:
num1 = int(input("정수 입력 >> "))
print("{}는(은) 짝수입니다.".format(num1)) if num1//2==0 else print("{}는(은) 홀수입니다.".format(num1))

정수 입력 >> 22
22는(은) 홀수입니다.

In [6]:
num1 = int(input("정수 입력 >> "))
"%d는(은) 홀수입니다"%num1 if(num1%2) else "%d는(은) 짝수입니다"%num1

정수 입력 >> 55

'55는(은) 홀수입니다'

In [7]:
in_data = int(input("값을 입력하시오>>"))
"{}는(은) 홀수입니다".format(in_data) if (in_data%2) else "{}는(은) 짝수입니다".format(in_data)

값을 입력하시오>>21

'21는(은) 홀수입니다'

In [5]:
in_data = int(input("값을 입력하시오>>"))
"참" if (in_data >10) else "거짓"     #print가 없어도 출력됨

값을 입력하시오>>21

'참'

In [14]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

"두 수의 차 : %d"%(num1-num2) if (num1 > num2) else "두 수의 차 : %d"%(num2-num1)

첫 번째 정수 입력 >> 5
두 번째 정수 입력 >> 6

'두 수의 차 : 1'