## 4-1. 리스트

#### 리스트(list) 인덱싱(indexing)

In [1]:
list1 = [2, 5, 7, 9, 10]
print(list1[0])
print(list1[3])
print(list1[2]+list1[-1])

2
9
17

In [4]:
list2 = [1, 2, 3, ['a', 'b', 'c']]

temp = list2[3]
print(temp)

print(temp[1])

['a', 'b', 'c']
b

In [5]:
temp = list2[3][1]
print(temp)

b

#### 리스트(list) 슬라이싱(slicing)

In [11]:
list3 = [0,1,2,3,4]
list3[1:3]

[1, 2]

In [7]:
list3[:2]

[0, 1]

In [8]:
list3[3:]

[3, 4]

In [9]:
list3[3:4]     # =list3[3]

[3]

#### 리스트(list) 더하기

In [12]:
list4 = [1,2,3]
list5 = [3,4,5,6]
list4 + list5

[1, 2, 3, 3, 4, 5, 6]

#### 리스트(list) 값 추가

In [13]:
list5 = [0,1,2,3,4]
list5.append(5)                  #리스트.append(값)       _맨 뒤에 값 추가
list5

[0, 1, 2, 3, 4, 5]

In [14]:
list5.append(6)
list5

[0, 1, 2, 3, 4, 5, 6]

In [16]:
list5 = [0,1,2,3,4]
list5.insert(1,5)               #리스트.insert(인덱스, 값)        _'인덱스' 위치에 '값' 추가
list5

[0, 5, 1, 2, 3, 4]

In [17]:
list5.insert(5,6)
list5

[0, 5, 1, 2, 3, 6, 4]

#### 리스트(list) 값 수정

In [19]:
list6 = [0,1,2,3,4]
list6

[0, 1, 2, 3, 4]

In [21]:
print("수정 전 :",list6[1])
list6[1] = 7
print("수정 후 :",list6[1])

수정 전 : 7
수정 후 : 7

In [22]:
list6

[0, 7, 2, 3, 4]

In [23]:
list6[2:4] = 7

TypeError: can only assign an iterable

In [24]:
print(list6[2:4])
list6[2:4] = [7]        ##### "리스트 2~3구간에 7을 넣어라."
list6

[2, 3]

[0, 7, 7, 4]

In [2]:
array = [1,2,3,4,5]

array[4] = 7
print(array)

array[1] = ['a','b','c']
print(array)

array[3:] = ['d','e','f','g']
print(array)

array[0:1] = ['h','i','j']
print(array)
#array[0] = ['h','i','j']
#print(array)

[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']
['h', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

#### 리스트(list) 값 삭제

In [34]:
list7 = [0,1,2,3,4,5]
del list7[1]                    #python 자체에 있는 기능
list7

[0, 2, 3, 4, 5]

In [35]:
list7 = [0,1,2,3,4,5]
del list7[1:5]
list7

[0, 5]

In [37]:
list7 = ['a','b','c','d','e']
list7.remove('b')                 #딕셔너리에서 가져옴
list7

['a', 'c', 'd', 'e']

In [38]:
list7.remove('b')

ValueError: list.remove(x): x not in list

#### 리스트(list) 오름차순 정렬

In [39]:
list8 = [9,77,13,51,100,3]
list8

[9, 77, 13, 51, 100, 3]

In [40]:
list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [42]:
list9 = [9,77,13,51,100,3]
list9

[9, 77, 13, 51, 100, 3]

In [43]:
list9.reverse
list9

[9, 77, 13, 51, 100, 3]

#### 리스트(list) 값 위치 반환 및 제거

In [44]:
list11 = ['a','b','c','d','e','f']
list11.index('c')                #list.index()   =찾고자 하는 값의 위치 반환

2

In [45]:
list12 = ['a','b','c','d','e','f']
list12.pop()                       #list.pop()   =마지막 값을 반환 후 리스트에서 제거

'f'

In [46]:
list12

['a', 'b', 'c', 'd', 'e']

##### 리스트(list) 값의 개수 확인

In [47]:
list13 = [0,1,2,]
len(list13)

3

In [48]:
list14 = ['a','b','c','d','e','f']
len(list14)

6

#### 자판기 (list ver.)

In [ ]:
insert_coin = int(input("insert coin>>"))
select_menu = int(input("메뉴선택 >>"))
return_coin_1000 = return_coin_500 = return_coin_100 = 0

if select_menu == 1 :
    item_price = 600
    return_price = insert_coin - item_price
elif select_menu == 2 :
    item_price = 800
    return_price = insert_coin - item_price
elif select_menu == 3 :
    item_price = 1000
    return_price = insert_coin - item_price
else:
    print("없는 메뉴입니다.")
    
if item_price > insert_coin:
    print("잔액이 부족합니다")
else:
    return_coin_1000 = (return_price) // 1000
    return_coin_500 = (return_price%1000)//500
    return_coin_100 = ((return_price % 1000)%500)// 100 
    
print("잔돈 >> 1000원 {}개, 500원 {}개, 100원 {}개".format(return_coin_1000, return_coin_500, return_coin_100))

In [ ]:
insert_coin = int(input("Insert coin>>"))
select_menu = int(input("메뉴선택 >>"))  # 1, 2, 3
return_coin_1000= return_coin_500 = return_coin_100 = 0
item_price = [['콜라',600],['사이다', 800],['물',1000]]     # 0 ,1, 2

if( (select_menu > len(item_price)) or ( select_menu < 1 )):
    print('없는 메뉴입니다.')
else:
    return_price = insert_coin - item_price[select_menu-1][1]
    
    if item_price[select_menu-1][1] > insert_coin :
        print("잔액이 부족합니다")
    else:
        return_coin_1000 = (return_price) // 1000
        return_coin_500 = (return_price %1000)// 500
        return_coin_100 = ((return_price % 1000)%500)// 100

        print("잔돈 >> 1000원 {}개, 500원 {}개, 100원 {}개".format(return_coin_1000, return_coin_500, return_coin_100))

<hr>

## 4-2.튜플(Tuple)

In [7]:
tuple1 = (0,1,2,3,('a','b','c'),5)

In [8]:
tuple1[2]

2

In [9]:
tuple1[4]

('a', 'b', 'c')

In [10]:
tuple1[1:3]

(1, 2)

In [11]:
tuple1[3:]

(3, ('a', 'b', 'c'), 5)

In [12]:
len(tuple1)

6

In [13]:
tuple2 = ('a','b','c','d','e','f')
len(tuple2)

6

In [14]:
tuple1[0] = 3

TypeError: 'tuple' object does not support item assignment

#### 조건문에서 사용되는 in, not in

In [15]:
str1 = "파이썬 최고"
"파이썬" in str1

True

In [16]:
"파이썬" not in str1

False

In [17]:
list1 = [77,38,10]
33 in list1

False

In [18]:
33 not in list1

True

In [34]:
s = "Hi, My name is Mihee"

str1 = input("검색할 문자를 입력하세요 : ")
word = input("검색할 문자를 입력하세요 : ")
w_cnt = s.count(word)                          #그냥 count(word)아니고 <<<<<s.count(word)>>>>>

if str1 not in s:
    print("'{}'는 문자열에 들어있지 않습니다.".format(str1))
print("'{}'는 {}번 들어있습니다.".format(word, w_cnt))

검색할 문자를 입력하세요 : hi
검색할 문자를 입력하세요 : i
'hi'는 문자열에 들어있지 않습니다.
'i'는 3번 들어있습니다.

In [32]:
s = "Hi, My name is Mihee"

str1 = input("검색할 문자를 입력하세요 : ")
if str1 not in s:
    print("'{}'는 문자열에 들어있지 않습니다.".format(str1))

검색할 문자를 입력하세요 : hi
'hi'는 문자열에 들어있지 않습니다.

In [33]:
s = "Hi, My name is Mihee"

word = input("검색할 문자를 입력하세요 : ")
w_cnt = s.count(word)

print("'{}'는 {}번 들어있습니다.".format(word, w_cnt))

검색할 문자를 입력하세요 : i
'i'는 3번 들어있습니다.

<hr>

In [ ]:
insert_coin = int(input("Insert coin>>"))
select_menu = int(input("Select menu>>"))  # 1, 2, 3
return_coin1000 = return_coin500 = return_coin_100 = 0
item_price = [600, 800, 1000, 1200, 100, 200, 1200]   # 0, 1, 2
    
    
물건값 = item_price[select_menu-1]

if( select_menu > len(item_price) and select_menu < 1):
    print("없는 메뉴입니다.")
else:
    return_price = insert_coin - item_price[select_menu-1]

    if item_price[select_menu-1] > insert_coin :
        print("잔액이 부족합니다.")
    else:
        return_coin_1000 = (return_price) // 1000
        return_coin_500 = (return_price %1000)//500
        return_coin_100 = ((return_price % 1000)%500)//100
    
        print("잔돈 >> 1000원 {}개, 500원 {}개, 100원 {}개".format(return_coin_1000, return_coin_500, return_coin_100))

In [ ]:
insert_coin = int(input("Insert coin>>"))
select_menu = int(input("Select menu>>"))  # 1, 2, 3
return_coin1000 = return_coin500 = return_coin_100 = 0
item_price = [['콜라',600],['사이다',800],['물',1000]]   # 0, 1, 2


if( select_menu > len(item_price) and select_menu < 1):
    print("없는 메뉴입니다.")
else:
    return_price = insert_coin - item_price[select_menu-1][1]
    print("{}를 샀습니다.".format(item_price[select_menu-1][0]))

    if item_price[select_menu-1][1] > insert_coin :
        print("잔액이 부족합니다.")
    else:
        return_coin_1000 = (return_price) // 1000
        return_coin_500 = (return_price %1000)//500
        return_coin_100 = ((return_price % 1000)%500)//100
    
    print("잔돈 >> 1000원 {}개, 500원 {}개, 100원 {}개".format(return_coin_1000, return_coin_500, return_coin_100))