In [7]:
a = 3

In [8]:
a

3

In [9]:
number = 7

In [10]:
number

7

In [11]:
print(number)

7

In [12]:
Number = 8

In [13]:
Number

8

In [14]:
number

7

In [15]:
number = 10

In [16]:
number

10

In [17]:
1a = 8

SyntaxError: invalid syntax (<ipython-input-17-e04829b89632>, line 1)

In [18]:
a = 10

In [19]:
a

10

In [20]:
b = 3.14

In [21]:
b

3.14

In [22]:
s = "Hello, Python"

In [23]:
s

'Hello, Python'

In [24]:
a,b = 10, 15

In [25]:
a

10

In [26]:
b

15

In [27]:
s = "Hello"

In [28]:
s

'Hello'

In [29]:
s = 'Hello'

In [30]:
s

'Hello'

In [6]:
s1 = 'python\'s'

In [7]:
s1

"python's"

In [8]:
s2 = '"Python is very easy." he says.'

In [9]:
s2

'"Python is very easy." he says.'

In [10]:
s3 = "\"Python is very easy.\" he says."

In [35]:
s3

'"Python is very easy." he says.'

In [36]:
multiline = 'Life is too short\nYou need python'

In [37]:
multiline

'Life is too short\nYou need python'

In [42]:
s3 = """안녕하세요


여러분"""
print(s3)

안녕하세요


여러분

In [47]:
s = 'Life is too short, You need Python'
print(s[0])
print(s[12])
print(s[-1])
print(s[:])

L
s
n
Life is too short, You need Python

In [52]:
s = "20010331Rainy"
year = print(s[:4])
day = print(s[4:8])
weather = print(s[8:])

2001
0331
Rainy

In [54]:
s = "현재 온도는 %d도 입니다"%18
s

'현재 온도는 18도 입니다'

In [55]:
temp = 20
s = "현재 온도는 %d도 입니다"%temp
s

'현재 온도는 20도 입니다'

In [57]:
s = "전남대학교 %d학년 %d학기 종강"%(4,1)
s

'전남대학교 4학년 1학기 종강'

In [78]:
s4 = "여러분 안녕하세요 저는 %s입니다."%"이명호"
s4

'여러분 안녕하세요 저는 이명호입니다.'

In [66]:
x = 100
y = 200
sum = x+y
print("%d과 %d의 합은 %d입니다."%(x,y,sum))
print("{}과 {}의 합은 {}입니다.".format(x,y,sum))

100과 200의 합은 300입니다.
100과 200의 합은 300입니다.

In [68]:
s5 = "여러분 제 이름은 이명호 입니다 python쉽나요?? 재밌죠???"
s5

'여러분 제 이름은 이명호 입니다 python쉽나요?? 재밌죠???'

In [70]:
s5.count("이명호")

1

In [77]:
la_song = """뻔하디 뻔한 그렇게 하는 그런 놈은 아니에요. 그러네요.
말썽 많지만 순종적인 그런 귀염둥이에요. 예뻐해줘요

라~ 라라라라 라라라 라라 라라 라라라~
라~ 라라라라 라라라 라라 라라 라라라~"""

s1 = la_song.count("라")
print("'라'글자는 총 {}번 등장합니다.".format(s1))

'라'글자는 총 30번 등장합니다.

In [80]:
s5.find("p")

18

In [84]:
s5.find("아")

-1

In [85]:
s5.index("아")

ValueError: substring not found

In [87]:
s5[18:24]

'python'

In [88]:
s5

'여러분 제 이름은 이명호 입니다 python쉽나요?? 재밌죠???'

In [89]:
s5.replace("이명호","서대희")

'여러분 제 이름은 서대희 입니다 python쉽나요?? 재밌죠???'

In [91]:
num1 = 10
num2 = 7

print(num1/num2)
print(num1%num2)
print(num1//num2)

1.4285714285714286
3
1

In [92]:
str1 = "안녕"
str2 = "하세요"

print(str1+str2)

안녕하세요

In [93]:
str1 = "10"
str2 = "7"

print(str1+str2)

107

In [96]:
num1 = 10
str1 = "7"

print(str(num1)+str2)
print(num1 + int(str1))

107
17

### 산술 연산자 실습

In [103]:
num1 = 23
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

26
20
69
7.666666666666667

In [107]:
num1 = 23
num2 = 3

print("더하기 결과 : {}".format(num1+num2))
print("빼기 결과 : {}".format(num1-num2))
print("곱하기 결과 : {}".format(num1*num2))
print("나누기 결과 : {}".format(num1/num2))

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

In [109]:
num = input("정수를 입력하세요 >> ")

정수를 입력하세요 >> 133

In [110]:
num

'133'

In [111]:
int(num)

133

In [ ]:
python = int(input("python 점수 입력 >>"))
ml = int(input("머신러닝 점수 입력 >>"))
deep = int(input("딥러닝 점수 입력 >>"))

score = python + ml + deep
print("합계 : {}".format(score))
print("평균 : {}".format(score/3))