In [2]:
python = int(input("python 점수 입력 >>"))
ml = int(input("머신러닝 점수 입력 >>"))
deep = int(input("딥러닝 점수 입력 >>"))

score = python + ml + deep
print("합계 : {}".format(score))
print("평균 : {}".format(score/3))

python 점수 입력 >>100
머신러닝 점수 입력 >>100
딥러닝 점수 입력 >>90
합계 : 290
평균 : 96.66666666666667

In [3]:
height = int(input("키를 입력하세요(cm) >>"))
weight = int(input("몸무게를 입력하세요(kg) >>"))
BMI = weight / ((height*0.01) * (height*0.01))
print("당신의 BMI 지수는 {0:.6f}입니다.".format(BMI))

키를 입력하세요(cm) >>180
몸무게를 입력하세요(kg) >>70
당신의 BMI 지수는 21.604938입니다.

### 지수 연산자(**)

In [8]:
num = int(input("정수 입력 >>"))
power = int(input("지수 입력 >>"))

num**power

정수 입력 >>2
지수 입력 >>10

1024

In [4]:
num = int(input("정수 입력 >>"))
power = int(input("지수 입력 >>"))
print("{}의 {}승은 {}입니다.".format(num, power, num**power))

정수 입력 >>2
지수 입력 >>3
2의 3승은 8입니다.

In [10]:
a = 3
a

3

In [11]:
b = a +1
b

4

In [13]:
b = b + 3
b

10

In [15]:
a = 7
a -= 7 #a = a + 7
a

0

In [17]:
num = 27
num += 3 #num = num +3
num

30

In [18]:
num = 27

num += 3 #num = num +3 ===30
num += 3 #num = num +3 ===33
num += 3 #num = num +3 ===36
num

36

In [19]:
a = 3
b = 7

print("a : {}".format(a))
print("b : {}".format(b))

a : 3
b : 7

In [20]:
temp = a
a = b
b = temp

print("a : {}".format(a))
print("b : {}".format(b))

a : 7
b : 3

In [22]:
a, b = b, a

print("a : {}".format(a))
print("b : {}".format(b))

a : 7
b : 3

In [25]:
a = 3
b = 7

print(a > b)
print(a < b)
print(a == b)
print(a != b)

False
True
False
True

In [28]:
a = 3 
b = 7
not a < b

False

In [29]:
a = 3
b = 7
not a == b

True

In [31]:
3 > 5 and 10 == 20

False

In [32]:
3 > 5 and 10 < 20

False

In [33]:
3 < 5 and 10 < 20

True

In [34]:
3 > 5 or 10 == 20

False

In [35]:
3 > 5 or 10 < 20

True

In [36]:
3 < 5 or 10 < 20

True

In [37]:
score = 80
"합격" if score >=60 else "불합격"

'합격'

In [39]:
score = 50
"합격" if score >=60 else "불합격"

'불합격'

In [40]:
score = 80
result = "합격" if score >=60 else "불합격"
result

'합격'

In [50]:
num = int(input("정수 입력 >>"))
result = "짝수" if num%2==0 else "홀수"
print("{}는(은) {}입니다.".format(num, result))

정수 입력 >>22
22는(은) 짝수입니다.

In [59]:
number = int(input(""))
result = "5의 배수입니다." if number%5==0 else "5의 배수가 아닙니다."
print(result)

15
5의 배수입니다.

In [58]:
number = int(input(""))
result = "5의 배수입니다." if number%5==0 else "5의 배수가 아닙니다."
print(result)

3
5의 배수가 아닙니다.

In [3]:
num = int(input("정수 입력 >> "))
result = "짝수" if num%2==0 else "홀수" 
print("{}은 {}입니다.".format(num, result))

정수 입력 >> 33
33은 홀수입니다.

In [5]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

result = num1-num2 if num1 > num2 else num2-num1

print("두 수의 차 : {}".format(result))

첫 번째 정수 입력 >> 3
두 번째 정수 입력 >> 10
두 수의 차 : 7